@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  background-image: url("/assets/gap-bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  background-color: #000;
  opacity: 0.93;
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.app {
  @apply relative z-10 flex justify-center items-center flex-col h-screen w-full;
}
.select-custom {
  font-size: 1rem;
  appearance: none;
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 0.5rem 2rem;
  position: relative;
  background-image: url("/assets/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1rem;
}

.select-custom option {
  background-color: red;
}
